useDynLib(LinCDE, .registration=TRUE)
importFrom(Rcpp, evalCpp) # importFrom(Rcpp, evalCpp)
importFrom(stats, aggregate, dnorm, glm, lm, predict, qchisq, quantile, rbinom, rnorm, runif, sd)
import(randomForest, gbm, glmnet, latex2exp, lattice, collections)
exportPattern("^[[:alpha:]]+")
